// convert px to em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// after before
@mixin psv() {
  content: '';
  position: absolute;
}

@mixin img ($bg) {
  $root: 'http://gepur.com';
  background: url($root + '/img/' + $bg) no-repeat center;
}

@mixin text($font, $size, $lh, $ls, $color) {
  font: em($size) $font;
  line-height: $lh;
  letter-spacing: $ls;
  color: $color;
}

// media queries
$min : null;
$max : null;

@mixin mq ($min, $max) {
  @media only screen and (min-width: $min+'px') and (max-width: $max+'px') {
    @content;
  }
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transition( $transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: -moz-$select;
  -o-user-select: $select;
  user-select: $select;
}