/*  ----------------
 FONTS
 ------------------- */
$browser-context: 14;





/*  ----------------
  COLOR - PALETTE
 ------------------- */
$default-text-color: #2b2b2b;
$default-border-color: #e0e0e0;
$bg-color: rgba(0, 0, 0, 0.71);
$validate-bg-color: #e34344;



