.feed-container {
  margin-top: 24px;
  position: relative;
}

.feed-item {
  @extend .clearfix;
  padding: 12px 0;
  border-bottom: 1px solid $default-border-color;
  position: relative;

  &:first-child {
    button.feed-item__reed-more {
      top: 12px;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  button.feed-item__nav {
    position: absolute;
    right: 0;
    top: 12px;
    padding: 6px 12px;
    @include text($default-font, 14, normal, normal, $default-text-color);
    text-transform: uppercase;
    border: 1px solid $default-border-color;
  }

  button.feed-item__reed-more {
    right: 92px;
  }

  button.feed-item__counter {
    right: 164px;
    cursor: default;
  }
}

.feed-item__img {
  width: auto;
  max-width: 250px;
  display: inline-block;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.feed-item__title {
  padding: 6px 0 6px 0;
  cursor: pointer;

  span {
    @include text($default-font, 18, 48px, normal, $default-text-color);
    font-weight: 700;
    display: block;
  }
}

.feed-item__info {
  padding: 12px 0 12px 0;
  @include text($default-font, 14, normal, normal, $default-text-color);
  display: block;
}

